@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;vertical-align:baseline;}
:focus{outline:0;}

ol, ul{list-style:none;}
table{border-collapse:separate;border-spacing:0;}
caption, th, td{font-weight:normal;text-align:left;}
blockquote:before, blockquote:after,q:before, q:after{content:"";}
blockquote, q{quotes:"" "";}
a img{border:0;}
figure{margin:0}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}
/* ----ここまでリセット------------------------------------------------------- */

body{
    color:#555555;
    font:12px verdana,"ヒラギノ丸ゴ ProN W4","Hiragino Maru Gothic ProN","メイリオ","Meiryo","ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
    line-height:1.5;
    background: #ffffff;
    -webkit-text-size-adjust:100%;
}


/* 見出し -------------------------------------------------------------------*/
.header{
    padding:7px 0px;
    font-size : 40px;
    text-align : left;
    height:60px;
    /* shadow */
    box-shadow: 0px 7px 3px -3px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 7px 3px -3px rgba(0,0,0,0.1);

}
.header a {
    color: #dc3545;
}

h2 {
    font-size : 30px;
    position: relative;
    display: inline-block;
    padding: 40px 55px;
}
h2:before, h2:after{
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 2px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}
h2:before{
    left:0;
}
h2:after{
    right:0;
}
.headline{
    text-align:center;
}

/* 検索フォーム ---------------------------------------------------------------*/

/* エラーメッセージ -----------------------------------------------------------*/
.error-message{
    color:red;
    padding-left : 12px;
}
/* ボタン --------------------------------------------------------------------*/

/* 投稿の表示 -----------------------------------------------------------------*/
.post-list{
    /*border-top:solid 2px #000;*/
    /*border-bottom:solid 2px #000;*/
    padding:10px 0px;
}
.post-part{
    border-bottom:solid 2px #eeeeee;
    background : #ffffff;
    margin-bottom :10px;
    padding : 0 0px;
}
.post-head{
    padding:10px 0;
    /*border-bottom : solid 2px #555555;*/
}
.post-head-left{
    display : inline-block;
    width : 55%;
    font-size : 18px;
}
.post-head-right{
    display : inline-block;
    width : 40%;
    font-size : 15px;
}
.post-body{
    padding:10px 0;
    word-wrap: break-word;
    display : inline-block;
    width : 100%;
    font-size : 16px;
}
.post-footer{
    padding : 10px 0;
    word-wrap : break-word;
    font-size : 14px;

}

/* 投稿・編集画面 ------------------------------------------------------------*/
.form-headline{
    padding : 5px 0 5px 12px;
}
.post-title {
    font-size : 17px;
}
.post-content{
    font-size:17px;
}

/* 削除ボタン ----------------------------------------------------------------*/
.delete-btn{
    color : #0077ff;
    padding : 0;
    -moz-appearance : none;
    -webkit-appearance : none;
    appearance : none;
    border : none;
    background-color : transparent;
}
.delete-btn:hover{
    text-decoration: underline;
}

/* メディアクエリ ------------------------------------------------------------*/
@media only screen and (min-width:960px){

}

@media only screen and (max-width:959px){

}

@media only screen and (max-width:768px){

}


@media only screen and (max-width:640px){

}


@media only screen and (max-width:480px){

}
